VITE_SUPABASE_URL=https://ddeqnwsxowmpclyzrjkx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkZXFud3N4b3dtcGNseXpyamt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczNzAzNTUsImV4cCI6MjEwMjk0NjM1NX0.fI24-f0K0rJe9AD1SIWrxHm90hfOp9JMcHlV2tHYVUU
